<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>List modifier</title>
</head>
<body>
    {% if is_edit %}
        <form id="submit-form" action="/edit-list/" method="post">
        {% csrf_token %}
    {% else %}
        <form id="submit-form" action="/insert-list/" method="post">
        {% csrf_token %}
    {% endif %}
    <table>
        <tr>
            <td><label for="name">Name:<span class="red">*</span></label></td>
            <td><input type="text" id="name" name="name" value="{{ data.name }}"/></td>
            <td><span style="visibility: hidden" id='name-error' class="error-message red">Please input name</span></td>
        </tr>

        <tr>
            <td><label for="chemical">Chemical:<span class="red">*</span></label></td>
            <td><input type="text" id="chemical" name="chemical" value="{{ data.chemical }}"/></td>
            <td><span style="visibility: hidden" id='chemical-error' class="error-message red">
                Please input chemical</span></td>
        </tr>

        <tr>
            <td><label for="notes">Notes:</label></td>
            <td><textarea rows="10" cols="20" id="notes" name="notes">{{ data.notes }}</textarea></td>
        </tr>
    </table>
    <div>
        <button type="button" onclick="submitSample()">Submit</button>

        <button type="button" onclick="cancel()">Cancel</button>
    </div>

    <input type="hidden" name="id" value="{{ data.id }}">


    </form>

    <form id='cancel' action="/cancel/"/>

</body>
</html>

<script>
    function submitSample(){
        var nameInput = document.getElementById('name').value
        var chemicalInput = document.getElementById('chemical').value
        var is_valid = true
        if(nameInput == null || nameInput == ''){
            document.getElementById('name-error').style.visibility = 'visible'
            is_valid = false
        }else {
            document.getElementById('name-error').style.visibility = 'hidden'
        }
        if(chemicalInput == null || chemicalInput == ''){
            document.getElementById('chemical-error').style.visibility = 'visible'
            is_valid = false
        }else {
            document.getElementById('chemical-error').style.visibility = 'hidden'
        }
        if(is_valid){
            document.getElementById('submit-form').submit()
        }
    }
    function cancel(){
        document.getElementById('cancel').submit()
    }
</script>