<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Sample lists</title>
</head>
<body>

    <table class="sample-table">

        <tr>
            <th>Sample Name</th>
            <th>Sample Chemical</th>
            <th>Sample Notes</th>
        </tr>
        {%  for item in data %}
            <tr>
                <td><a class="edit-link" onclick="editForm({{ item.id }})"
                       onmouseover="this.style.textDecoration='underline'"
                       onmouseout="this.style.textDecoration='none'">{{ item.name }}</a></td>
                <td>{{ item.chemical }}</td>
                <td>{{ item.notes }}</td>
            </tr>
            <form id="{{ item.id }}" action="/list-modifier/" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ item.id }}" name="id"/>
                <input type="hidden" value="{{ item.name }}" name="name"/>
                <input type="hidden" value="{{ item.chemical }}" name="chemical"/>
                <input type="hidden" value="{{ item.notes }}" name="notes"/>
            </form>
        {%  endfor %}
  </table>

    <form action="/list-modifier/" method="get">
        <input class = "new-sample-button" type="submit" value="New Sample"/>
    </form>

</body>
</html>

<script>
    function editForm(id){
        document.getElementById(id).submit();
    }
</script>